body{
  text-aligh:center;
  background-color: yellow;
  border-radius:100px;
  border:indigo;
  text-aligh:center;
}
footer{
  text-aligh:center;
  border-radius:100px;
  background-color:orangered;
  border:indigo;
  text-aligh:center;
  
  
