body{
  text-align: center;
  background-color: yellow;
  border-radius:100px;
  border:indigo;
  text-aligh:center;
}
footer{
  text-aligh:center;
  border-radius:100px;
  background-color:orangered;
  border:indigo;
  text-align: center;
}
p body{
    color:navy;
}
.blin{
  background-color:violet;
  border:midnightblue;
  border-radius: 15px;
  float:left;
}
.koktel{
    background-color:violet;
  border:midnightblue;
  border-radius: 15px;
  float:right;
}
.start{
background-color: yellow;
  text-align: center;
  border:indigo;
  background-color:violet;
  border:midnightblue;
  border-radius: 15px;
}
  
