body{
  text-align: center;
  background-color: yellow;
  border-radius:100px;
  border:indigo;
  text-aligh:center;
}
footer{
  text-aligh:center;
  border-radius:100px;
  background-color:orangered;
  border:indigo;
  text-align: center;
}
p body{
    color:navy;
}
.blin{
  background-color:rgb(0, 195, 255);
  border:midnightblue;
  border-radius: 15px;
  float:left;
  border: blue outset 10px;
}
.koktel{
  background-color:rgb(0, 195, 255);
  border:midnightblue;
  border-radius: 15px;
  float:right;
  border: blue outset 10px;
}
.start{
background-color: yellow;
  text-align: center;
  border:indigo;
  background-color:violet;
  border:midnightblue;
  border-radius: 15px;
}
a{
    text-decoration: white;
}
.lol{
  background-color:navy;
  color:white;
}
.byter{
  background-color:purple;
  border-radius:15px;
  text-aligh:center;
}
img{
opacity:0.7;
}
img:hover{
opacity: 1;
}
.k{
opacity:1
}
.center{
background-color:#DC37B8;
float:left;
border: blue outset 10px;

}
  
  
  
  
